

<div class="container spacer">
    <div class = "panel panel-primary">
      <div class="panel-heading">Liste des produits</div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th>Code EAN</th>
            <th>Nom</th>
            <th>Descriptions</th>
          </tr>
          <tr *ngFor="let p of produits" [routerLink]="['/categorie', p.id]">
            <td>{{p.codeEan}}</td>
            <td>{{p.nom}}</td>
            <td>{{p.descriptif}}</td>
          </tr>
        </table>
      </div>
    </div>
</div>