<!--The content below is only a placeholder and can be replaced.-->
<html lang="fr">

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse">
    <a class="navbar-brand" href="#">ChaHula</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Accueil</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="categories">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="categories">
            <a class="dropdown-item" href="#">Boissons</a>
            <a class="dropdown-item" href="#">Fruits et légumes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Céréales et féculents</a>
            <a class="dropdown-item" href="#">Produits laitiers</a>
            <a class="dropdown-item" href="#">Viande poisson oeuf</a>
            <a class="dropdown-item" href="#">Corps gras</a>
            <a class="dropdown-item" href="#">Sucre</a>
            <a class="dropdown-item" routerLink="/categories">Toutes les categories</a>

          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Rechercher">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ndrini</button>
      </form>
    </div>
  </nav>

  <router-outlet></router-outlet>

</body>

<footer class>

  <li class="nav-item">
    <a class="nav-link" routerLink="/contacts">Contacts</a>
  </li>
</footer>



</html>