<nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(85, 163, 44);">
  <a class="navbar-brand">ChaHula</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Accueil</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="categories">
          Categories
        </a>
        <div>
          <div class="dropdown-menu" aria-labelledby="categories">
            <a *ngFor="let c of categ | async" class="dropdown-item" href="/categorie/{{c.idCategorie}}">{{c.nomCategorie}}</a>
            <a class="dropdown-item" routerLink="/categories">Afficher toutes</a>
          </div>
        </div>


      </li>
      <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher un produit" aria-label="Rechercher">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ok</button>
    </form>
  </div>
</nav>